.fryingPan {
  width: 30vw;
  height: 20vw;
  display: flex;
  align-items: center;
}

.fryingPan .rim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  background-color: rgb(29, 29, 29);
}

.fryingPan .innerPan {
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  background-color: rgb(23, 23, 23);
}

.fryingPan .handle {
  width: 10vw;
  height: 2vw;
  background-color: rgb(29, 29, 29);
}
